extends: eslint-config-airbnb
parser: babel-eslint
plugins: [react, import]
env:
  browser: true
globals:
  google: false
rules:
  comma-dangle: [error, never]
  react/jsx-filename-extension: [1, { "extensions": [".js", ".jsx"] }]
  react/prop-types: 0
  react/forbid-prop-types: 0
  react/no-multi-comp: 0
  react/no-string-refs: 0
  import/no-extraneous-dependencies: 0
  import/no-unresolved: 0
  import/extensions: 0
  jsx-a11y/label-has-for: 0
  no-prototype-builtins: 0
  no-var: 0
